@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.companyReviews a:hover > img {
  animation: shake 0.4s;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.ratings-star > i {
  font-size: 25px;
  color: rgb(100 100 100 / 53%);
  &.active {
    background-color: #fffe;
    color: rgb(131 184 20);
  }
  &.star-activated {
    background-color: rgb(131 184 20);
    color: #fffe;
  }
}

.pagination .active {
  background-color: rgb(131 184 20);
  color: #fffe;
}
